<h2 class="screen-align">Createmodules</h2>
<div id="template-i77v" class="gjs-row">
    <div id="template-iflf" class="gjs-cell">
        <label id="template-i6zb" class="label ">Name</label>
        <input id="template-ieph" [(ngModel)]="modules.name" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
    </div>
    <div id="template-ixrg" class="gjs-cell">
        <label id="template-i40o" class="label ">emaill</label>
        <input id="template-igvv" [(ngModel)]="modules.email" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
    </div>
</div>